.bgd{
    min-height: 500px;
    background-color: tomato;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items:center;
}

h2{
    font-size: 40px;
}

form{
    width: 60%;
    display: flex;
    flex-direction: column;
}

label{
    font-size: 25px;
    margin: 10px;
}

input{
    height: 40px;
    width: 80%;
    margin: 10px;
}

.element{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.element input{
    font-size: 20px;
}
.element textarea{
    font-size: 20px;
}

textarea{
    height: 200px;
    width: 80%;
    margin: 10px;
}

button{
    width: 5rem;
    height: 3rem;
    margin-top: 20px;
}

@media only screen and (min-width: 1121px) and (max-width: 1505px){
    .bgd{
        padding: 3rem 1rem;
        margin-top: 30px;
    }

    form{
        width: 80%;
    }
}

@media only screen and (max-width: 1121px){
    .element{
        flex-direction: column;
    }
    
    .bgd{
        padding: 2rem 0.5rem;
        margin-top: 30px;
    }

    form{
        width: 90%;
    }

    label{
        font-size: 15px;
        margin: 5px;
        position: relative;
    }
}