.success-notif {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  bottom: 15px;
  left: 15px;
  margin: 0;
}

.success-check-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  margin-right: 20px;
  height: 30px;
}
