.navbar {
  background-color: rgb(185, 41, 41);
  padding: 0 20px;
  display: flex;
}

.navbar-collapse {
  justify-content: center;
}

.counter{
  position: absolute;
  right: 0;
}

@media only screen and (max-width: 991px){
  .counter{
    right: unset;
    left: 40%;
  }
}
