.carousel{
    display: flex;
    justify-content: center;
}

.carousel-box{
    background-color: white;
    width: 70%;
    height: 600px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 70px 0;
}